@import '../../assets/styles/_variables.scss';

.navbar {
  background-color: map-get($colors, cream);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  max-height: 10vh;
  width: 90%;
  margin: auto;
  font-size: 1.1rem;

  button {
    background: none;
    text-decoration: none;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  .items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 50vw;

    .item {
      cursor: pointer;
      height: 100%;
    }
  }
}
