@import '../../assets/styles/_variables.scss';

.bar {
  border-radius: 3px;
  border: 1px solid map-get($colors, fg);
  background-color: map-get($colors, gray);
  width: 0.6rem;
  margin: 0.5rem 0.35rem 3rem;
  transition: all 0.27s ease;
}
.compared {
  background-color: map-get($colors, cyan) !important;
}
.pivot {
  background-color: map-get($colors, yellow) !important;
}
.alternative {
  background-color: map-get($colors, brown) !important;
}
