@import '../../assets/styles/_variables.scss';

.bar {
  border-radius: $radius;
  border: 3px solid map-get($colors, fg);
  background-color: map-get($colors, gray);
  width: 1.5rem;
  margin: 0.5rem 0.5rem 3rem;
  transition: all 0.27s ease;
}
