@import '../../assets/styles/_variables.scss';

.canvas {
  background-color: map-get($colors, bg1);
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 2% auto;
  height: 100%;
  min-height: 800px;
  border-radius: $radius;
  box-shadow: $shadow;

  .bars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
  }
}
