$radius: 5px;

$colors: (
  _aqua: #689d6a,
  cyan: #94d2bd,
  brown: #ca6702,
  orange: #bb3e03,
  maroon: #9b2226,
  bg: #282828,
  bg1: #3c3836,
  red: #cc241d,
  green: #98971a,
  yellow: #c79921,
  blue: #458588,
  purple: #b16286,
  gray: #a89984,
  fg: #ebdbb2,
);

$shadow: 1px 4px rgba(0, 0, 0, 0.16);
